.progress-container {
    height: 10vh;
}

.vocab-trainer-container {
    height: 50vh;
}

.vocab-page {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    width: 90vw;
}

.vocab-page h3 {
    text-align: left;
    color: white;
    margin-bottom: 10px;
}