body {
    background-color: white;
    margin: 10px;
    overflow-x: hidden;
}

#text-output {
    height: 250px;
    overflow: scroll;
    margin-top: 20px;
}

#vocabs::-webkit-scrollbar {
    display: none;
}

#text-output::-webkit-scrollbar {
    display: none;
}


#vocabs {
    border: 2px solid black;
    margin-top: 20px;
    height: 250px;
    overflow: scroll;
    background-color: gray;
}

#vocab-trainer-container {
    margin-top: 30px;
    height: 100px;
    width: 100%;
    background-color: red;
}